@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Space+Grotesk&display=swap');
:root{
    --bg-color: #222831;
    --body-color: #393e46;
    --text-color: #EEEEEE;
    --details-color: #00ADB5;
    --font-family1: 'Bebas Neue', cursive;
    --font-family2: 'Open Sans', sans-serif;
    --font-family3: 'Space Grotesk', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family2);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}
.container{
    padding: 20px 40px;
    background-color: var(--body-color);
    border-radius: 5px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container a{
    text-decoration: none;
    color: #add8e6;
    margin-left: 5px;
}
.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(1);
}
.text{
    margin-top: 30px;
}
.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--details-color);
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: var(--text-color);
}
.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}
.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265,1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}
